.container {
  padding: 30px;
  color: #fff;
  background-color: #0a192f;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.topBar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.btn {
  background-color: #0e2f56;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #133d74;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.gridContainer {
  background-color: #112240;
  padding: 40px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 40px;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: #0e2f56;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
  background-color: #133d74;
  transform: translateY(-4px);
}

.icon {
  color: #ffffff;
  margin-bottom: 10px;
}
