:root {
  --cor-primaria: #0052cc;
  --cor-fundo-secundaria: #030918;
  --cor-fundo-principal: #011d3b;
  --cor-texto: #FFFFFF;
  --cor-hover: #1a1818;
}





.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--cor-fundo-secundaria);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.5px solid #686767;
  z-index: 10;
  color: var(--cor-texto);
}

.topBar {
  height: 50px;
  background-color: var(--cor-fundo-secundaria);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.backButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--cor-texto);
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.menuItem {
  background: none;
  border: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  color: var(--cor-texto);
}

.menuItem:hover {
  background-color: var(--cor-hover);
}

.userSection {
  padding: 15px;
  border-top: 1px solid #b0b0b0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c0c0c0;
}

.userName {
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.userModule,
.userStatus {
  font-size: 12px;
  color: var(--cor-texto);
  font-family: "Poppins", sans-serif;
}

.logoutButton {
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: var(--cor-texto);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s ease;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* deixa branco */
  transition: filter 0.3s ease;
}

.menuItem:hover .icon {
  filter: brightness(0) invert(0.8);
}