html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a192f; 
  font-family: "Poppins", sans-serif;
  color: #fff;
}


* {
  box-sizing: border-box;
}


main {
  width: 100%;
  min-height: 100vh;
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
}