.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: #0a192f;
  padding: 30px;
  border-radius: 10px;
  width: 450px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.form input,
.form select {
  padding: 10px;
  border: 1px solid #1e3a5f;
  border-radius: 6px;
  background: #112240;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit {
  background-color: #0e2f56;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background-color: #133d74;
}

.cancel {
  margin-top: 20px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.cancel:hover {
  background-color: #555;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #fff;
}

.table th,
.table td {
  border: 1px solid #1e3a5f;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #0e2f56;
}


/* Tabela responsiva */
.table {
  width: 100%;
  min-width: 400px;      /* garante formato da tabela */
  overflow-x: auto;
  display: block;        /* permite scroll horizontal */
}